kind: Deployment
apiVersion: apps/v1
metadata:
  name: react-app-deployment
  namespace: react-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: ramkinetic14/react-app:latest
          ports:
          - containerPort: 3000